div#changepassword { background: url("./images/change-password-icon-24.png") no-repeat transparent}

div#tchangepassword {width: 405px; height: 150px}
div#tchangepassword div.dlg-header {background-image: url(./images/change-password-icon-16.png)}
div#tchangepassword fieldset div {line-height: 16px}

div#tchangepassword label {width: 120px; display: block; float: left; margin-top: 5px; margin-bottom: 5px; margin-left: 10px; }
div#tchangepassword label#nomargin { margin-top: 0px; margin-bottom: 0px; }
div#tchangepassword input, select {margin-top: 5px; margin-bottom: 5px;}
div#tchangepassword br {clear: left; line-height: 0}
